<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Greplr : A super-aggregator. One app to rule them all.
  ~     Copyright (C) 2015  Greplr Team
  ~     Where Greplr Team consists of :
  ~       1. Arnav Gupta
  ~       2. Abhinav Sinha
  ~       3. Prempal Singh
  ~       4. Raghav Apoorv
  ~       5. Shubham Dokania
  ~       6. Yogesh Balan
  ~
  ~     The source code of this program is confidential and proprietary. If you are not part of the
  ~     Greplr Team (one of the above 6 named individuals) you should not be viewing this code.
  ~
  ~     You should immediately close your copy of code, and destory the file. You are not authorised to
  ~     be in possession of this code or view or modify it or use it in any capacity.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greplr" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Greplr"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="greplr.com"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Greplr.Base.Login">
        </activity>
        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.greplr.MainActivity" />
        </activity>
        <activity
            android:name=".UberActivity"
            android:label="@string/title_activity_uber"
            android:parentActivityName=".AccountActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.greplr.AccountActivity" />
        </activity>
        <activity
            android:name=".subcategories.news.NewsDetailActivity"
            android:label="@string/title_activity_news_detail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.greplr.MainActivity" />
        </activity>
    </application>

</manifest>
